.search {
    input {
        width: 80%;
        display: inline-block;
    }
}

.candidate-list {
    .highlight-result {
        padding-bottom: 5px;
        a {
            border: 2px solid gold;
            padding: 5px;
            margin-left: -7px;
            border-radius: 4px;
            background-color: #fff3b1;
        }
    }
}
